.hero{
    background: var(--bg-gradiente);
    width: 100%;
    height: 100vh;
    color: var(--text-main);
}

.hero__container{
    background-image: linear-gradient(rgba(216, 209, 11, 0.7), rgba(11, 216, 18, 0.7)), url("../img/img-01-fundo-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}